@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-chubby/css/uicons-regular-chubby.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* All pages affected */
:root {
  --dark-blue: #1A1B29;
  --light-blue: #ECEFF8;
  --black: #343a40;
  --green: #467B65;
  --hover-green: #3B6755;
  --border: #e3e4e8;
  --hover: #ECEFF8;
  --gray: #364153;
  --light: #D6D6D6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Inter', sans-serif;
  color: var(--black);
  font-size: 14px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 700;
  font-size: 28px;
}

h2 {
  font-weight: 600;
  font-size: 18px;
}

label,
input,
textarea,
select {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background: none;
  box-shadow: none;
  outline: none;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}

/* Admin Dashboard */
.adminheader {
  color: var(--dark-blue);
}

/* Status Design*/
.status-badge {
  font-weight: 600;
  padding: 0.5em 1em;
  border-radius: 16px;
  font-size: 0.9rem;
  user-select: none;
  text-transform: capitalize;
}

.status-pending {
  background-color: #F8E8D9;
  color: #D78D30;
}

.status-resolved {
  background-color: #EBF5ED;
  color: #32813D;
}

.status-emergency {
  background-color: #F3E6E5;
  color: #8E433E;
}

.status-unresolved {
  background-color: #F3F7F9;
  color: #636B71;
}

.status-reviewing {
  background-color: #E5F4F8;
  color: #2B8AF0;
}

/* Controls container */
.controls-admin {
  margin-bottom: 1.5rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.controls-admin>* {
  flex: 1 1 200px;
  min-width: 150px;
}

.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 7px 27px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: var(--green);
  box-shadow: 0 0 0 2px var(--green);
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: var(--green);
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  background-color: var(--green);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: var(--green);
  border-radius: 12px;
  color: white;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover svg {
  fill: white;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px #ffffff;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

.bin-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 15px;
  background-color: rgb(255, 95, 95);
  cursor: pointer;
  border: 3px solid rgb(255, 201, 201);
  transition-duration: 0.3s;
}

.bin-bottom {
  width: 15px;
}

.bin-top {
  width: 17px;
  transform-origin: right;
  transition-duration: 0.3s;
}

.bin-button:hover .bin-top {
  transform: rotate(45deg);
}

.bin-button:hover {
  background-color: rgb(255, 0, 0);
}

.bin-button:active {
  transform: scale(0.9);
}

/* Card and Table (admin) */
.admin-card {
  border-radius: 1rem;
  background-color: #ffffff;
}

.card-body-admin {
  padding: 2rem;
}

.admin-table-container {
  width: 100%;
  background: white;
  padding-bottom: 12px;
  border-radius: 12px;
  border: 1px solid var(--border);
  overflow-x: auto;
}

table.admintable {
  width: 100%;
  border-collapse: separate;
  border: none !important;
  border-collapse: collapse;
  border-spacing: 0;
}

.admintable th,
.admintable td {
  text-align: left;
  padding: 12px;
  font-size: 14px;
  border: none !important;
}

.admintable thead th {
  font-weight: 600;
  background-color: var(--dark-blue);
  color: white;
  border: none !important;
  box-shadow: none !important;
}

.admintable tbody td {
  padding: 12px;
}

.ellipsis-admin-title {
  max-width: 155px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#paginationContainer li.active>button {
  background-color: var(--green);
  color: white;
  border: 1.5px solid var(--green);
}

#role-pagination li.active>button {
  background-color: var(--green);
  color: white;
  border: 1.5px solid var(--green);
}

/* Admin sidebar */
.admin-content-row {
  display: flex;
  height: 685px;
  gap: 1rem;
}

.adminsidebar {
  background-color: white;
  padding: 0.7rem;
  height: 100%;
  border-radius: 5px;
  color: var(--dark-blue);
  height: 100%;
  overflow-y: auto;
}

.adminsidebar .nav-link {
  color: var(--dark-blue);
  padding: 0.8rem 0;
  font-size: 1.2rem;
}

.adminsidebar .nav-link:hover,
.adminsidebar .nav-link.active {
  background-color: white;
  border-radius: 4px;
  color: var(--green);
}

/* Options for update status */
.select {
  position: relative;
  display: inline-block;
  width: 150px;
  background-color: white;
  border: 2px solid var(--dark-blue);
  border-radius: 5px;
  box-sizing: border-box;
}

.selected {
  background-color: white;
  color: var(--dark-blue);
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 15px;
  color: var(--dark-blue);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  border: none;
}

.arrow {
  height: 10px;
  width: 25px;
  fill: var(--dark-blue);
  transition: transform 300ms;
  transform: rotate(-90deg);
}

.select:hover>.selected .arrow {
  transform: rotate(0deg);
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 2px solid var(--dark-blue);
  color: var(--dark-blue);
  border-radius: 5px;
  padding: 5px 0;
  margin-top: 1px;
  width: 150px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease;
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
}

.select:hover>.options,
.options:hover {
  opacity: 1;
  pointer-events: auto;
}

.option {
  padding: 8px 12px;
  font-size: 15px;
  color: var(--dark-blue);
  cursor: pointer;
  user-select: none;
  transition: background-color 200ms;
}

.options input[type="radio"] {
  display: none;
}

.options label {
  display: inline-block;
}

.options label::before {
  content: attr(data-txt);
}

.options label.option {
  display: block;
  width: 100%;
  padding: 8px 12px;
  font-size: 15px;
  color: var(--dark-blue);
  cursor: pointer;
  user-select: none;
  transition: background-color 200ms;
}

.options label.option:hover {
  background-color: var(--dark-blue);
  color: white;
}

.options input[type="radio"]:checked+label {
  display: none;
}

.options input[type="radio"]#all:checked+label {
  display: none;
}

.select:has(.options input[type="radio"]#all:checked) .selected::before {
  content: attr(data-default);
}

.select:has(.options input[type="radio"]#option-1:checked) .selected::before {
  content: attr(data-one);
}

.select:has(.options input[type="radio"]#option-2:checked) .selected::before {
  content: attr(data-two);
}

.select:has(.options input[type="radio"]#option-3:checked) .selected::before {
  content: attr(data-three);
}

/* Modal Design (Admin) */
.modal-header {
  background-color: var(--dark-blue);
}

#reportDetailsModalLabel {
  color: white;
}

#deleteReportConfirmModal {
  color: white;
}

#modalImageContainer {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding: 1rem 0;
  justify-content: center;
  align-items: center;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

#modalImageContainer::-webkit-scrollbar {
  height: 6px;
}

#modalImageContainer::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}

/* Container for all info fields */
.info-section {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

/* Each field row */
.info-field {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed var(--dark-blue);
  padding-bottom: 0.4rem;
  margin-bottom: 0.4rem;
}

/* Label on the left */
.info-label {
  font-weight: bold;
  color: var(--dark-blue);
  flex: 1;
}

/* Value on the right */
.info-value {
  text-align: right;
  color: var(--dark-blue);
  flex: 2;
  word-break: break-word;
}


/* Side Bar */
body div.main {
  display: flex;

}

.sidebar {
  background-color: var(--dark-blue);
  color: var(--light);
  width: 300px;
  height: 100vh;
  padding: 12px;
  transition: width 0.3s ease;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--border);
}

.sidebar.collapsed {
  width: 60px;
}

.sidebar div.company-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  margin-bottom: 16px;
}

.sidebar div.company-logo div {
  display: flex;
  gap: 10px;
}

.sidebar div.company-logo p {
  font-weight: 700;
  font-size: 24px;
}

.sidebar i {
  font-size: 24px;
}

.sidebar .toggle-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.sidebar nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 12px;
  transition: padding 0.3s;
  font-weight: 500;
  border-radius: 4px;
}

.sidebar nav a:hover {
  background-color: var(--hover);
  color: var(--black);
}

.sidebar nav i {
  padding-right: 16px;
  font-size: 16px;
}

.sidebar.collapsed nav a {
  text-align: center;
  padding: 8px 0;
  font-size: 0;
}

.sidebar.collapsed nav a::before {
  content: "";
  font-size: 20px;
}

/* Top Bar */
.top-bar {
  border-bottom: 1px solid var(--border);
  padding: 22px;
  display: flex;
  justify-content: end;
  min-height: 64px;
}

.top-bar i {
  font-size: 18px;
  padding-right: 10px;
  display: flex;
  align-items: center;
}

.top-bar p {
  font-weight: 500;
  display: flex;
  align-items: center;
}

/* —— Header wrapper for title + button —— */
.reports-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

/* —— Base button styles (if not already defined) —— */
.upload-btn {
  display: flex;
  align-items: center;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  background-color: var(--green);
  color: white;
  padding: 8px 10px;
  border-radius: 8px;
  font-size: 14px;
  width: fit-content;
  margin-top: 16px;
}

.upload-btn:hover {
  background-color: var(--hover-green);
}

.upload-btn i {
  padding-right: 8px;
}

/* Reports for users (homepage) */
.main-content {
  flex-grow: 1;
}

.reports-section {
  padding: 22px;
}

.reports-table-container {
  width: 100%;
  background: white;
  padding-bottom: 12px;
  border-radius: 12px;
  border: 1px solid var(--border);
  max-width: 100vw;
}

div.filters {
  display: flex;
  justify-content: end;
  column-gap: 16px;
  margin-bottom: 16px;
}

div.filters select {
  display: block;
  outline-style: solid;
  outline-color: var(--border);
  outline-width: 1px;
  padding: 8px;
  border-radius: 4px;
}

table#reportTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
}

table#reportTable th,
td {
  text-align: left;
}

table#reportTable thead th {
  font-weight: 600;
  padding: 12px;
  font-size: 14px;
}

table#reportTable tbody td {
  padding: 12px;
}

table#reportTable tbody tr:hover {
  background-color: var(--hover);
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 1rem;
}

.pagination button {
  padding: 6px 11px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: var(--black);
  background-color: white;
  border: 1.5px solid var(--border);
}

.pagination button.active {
  background-color: var(--green);
  color: white;
  border: 1.5px solid var(--green);
}

.pagination button:disabled {
  cursor: default;
  color: var(--border);
}

.category-fires {
  color: #AA3052;
}

.category-faulty {
  color: gray;
}

.category-vandalism {
  color: #8B81CD;
}

.category-suspicious {
  color: #E0AC63;
}

.category-others {
  color: #7088F0;
}

.category-default {
  color: black;
}

/* Report Detail section for users (homepage) */
div.report-detail-section {
  padding: 22px;
}

div.report-detail-section h1 {
  text-transform: capitalize;
}

/* Submit Report Section */
a.back {
  display: inline-block;
  font-weight: 500;
  margin-bottom: 32px;;
  font-size: 12px;
}

a.back:hover{
  text-decoration: underline;
}

a.back i {
  padding-right: 8px;
}

.submit-report-section {
  padding: 22px;
  max-width: 640px;
  width: 100%;
  margin: auto;
}

.submit-report-section>h1 {
  margin-bottom: 16px;
}

.submit-report-section form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.submit-report-section form div {
  display: flex;
  flex-direction: column;
}

.submit-report-section form div.check-container {
  flex-direction: row;
  column-gap: 8px;
  margin-top: 16px;
}

.submit-report-section form div label {
  font-weight: 500;
  font-size: 14px;
  color: var(--gray);
  margin-bottom: 16px;
}

.submit-report-section form div input,
.submit-report-section form div select {
  display: block;
  outline-style: solid;
  outline-color: var(--border);
  outline-width: 1px;
  padding: 8px;
  border-radius: 4px;
}

.submit-report-section form div textarea {
  display: block;
  outline-style: solid;
  outline-color: var(--border);
  outline-width: 1px;
  padding: 8px;
  border-radius: 4px;
  height: 150px;
  resize: vertical;
}

.submit-report-section form div input.check {
  height: 16px;
  width: 16px;
  border: 1px solid var(--border);
  outline-style: none;
  ;
}

/* Form card spacing */
.card-body {
  max-width: 800px;
  margin: 0 auto;
}

/* .controls already gives flex and gap, but ensure inputs stretch */
.controls {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.controls label {
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #343a40;
}

.controls input[type="text"],
.controls textarea,
.controls select,
.controls input[type="file"] {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  background-color: #fff;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.controls input[type="text"]:focus,
.controls textarea:focus,
.controls select:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
  outline: none;
}

/* Small helper text */
.controls small {
  color: #6c757d;
  margin-top: 0.25rem;
  font-size: 0.875rem;
}

/* Right-align the final button container */
.controls--actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

/* Login Page */

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  object-fit: cover;
  z-index: -1;
}

/* Login container: centers form */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form-container {
  background: white;
  padding: 40px;
  border-radius: 16px;
  min-width: 300px;
  display: flex;
  column-gap: 64px;
  min-width: 960px;
}

@media (max-width: 1536px) {

  /* Styles for screens ≤ 768px (e.g., tablets, phones) */
  .login-form-container {
    column-gap: 48px;
    min-width: 860px;
  }
}

@media (max-width: 1280px) {

  /* Styles for screens ≤ 768px (e.g., tablets, phones) */
  .login-form-container {
    column-gap: 32px;
  }
}

@media (max-width: 1024px) {

  /* Styles for screens ≤ 768px (e.g., tablets, phones) */
  .login-form-container {
    column-gap: 24px;
    min-width: 0px;
    padding: 36px;
  }
}

@media (max-width: 768px) {

  /* Styles for screens ≤ 768px (e.g., tablets, phones) */
  .login-form-container {
    flex-direction: column;
    column-gap: 24px;
    min-width: 0px;
  }
}

@media (max-width: 480px) {

  /* Styles for screens ≤ 768px (e.g., tablets, phones) */
  .login-form-container {
    flex-direction: column;
    column-gap: 24px;
    min-width: 0px;
    margin: 8px;
    padding: 16px;
  }
}

.login-form-container div.company-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

.login-form-container div.company-logo div {
  display: flex;
  gap: 10px;
}

.login-form-container div.company-logo p {
  font-weight: 700;
  font-size: 14px;
}

.login-form-container i {
  font-size: 14px;
  color: var(--green)
}

.login-form-container h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 48px;
}

.login-form-container img#campus {
  width: 100%;
  height: auto;
  max-width: 480px;
}

.login-form-container>div {
  flex: 1;
}

form.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form.login-form div {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

form.login-form div>label {
  font-weight: 500;
  font-size: 14px;
  color: var(--gray);
  margin-bottom: 16px;
  display: block;
}

form.login-form div>input {
  display: block;
  outline-style: solid;
  outline-color: var(--border);
  outline-width: 1px;
  padding: 8px;
  border-radius: 4px;
  width: 100%;
}

.login-form-container div.campus-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form.login-form button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  background-color: var(--green);
  color: white;
  padding: 10px 10px;
  border-radius: 8px;
  font-size: 14px;
  margin-top: 16px;
}

form.login-form button:hover {
  background-color: var(--hover-green);
}

p.already {
  text-align: center;
  font-weight: 500;
  margin-top: 16px;
}

p.already a {
  text-decoration: underline;
  cursor: pointer; /* optional if it's clickable */
}

p.already a:hover {
  color: #A8A8A8;
}