<div class="sidebar" id="sidebar">
    <div class="company-logo">
        <a href="\">
            <div>
                <img class="logo" src="{{ url_for('static', filename='assets/logo.png') }}" />
                <p>SITSecure</p>
            </div>
        </a>

        <button class="toggle-btn" onclick="toggleSidebar()">☰</button>
    </div>
    <nav>
        <a href="\"><i class="fa-solid fa-square-poll-vertical"></i>Reports</a>
        <a href="#"><i class="fa-solid fa-gear"></i>Settings</a>
        <a href="#"><i class="fa-solid fa-user"></i>Profile</a>
        <a href="1_login.html"><i class="fa-solid fa-gear"></i>Login</a>
        <a href="1_register.html"><i class="fa-solid fa-gear"></i>Register</a>
        <a href="/admin"><i class="fa-solid fa-gear"></i>Admin</a>
    </nav>
</div>