<div class="sidebar" id="sidebar">
    <div class="company-logo">
        <a href="\">
            <div>
                <!-- <img class="logo" src="{{ url_for('static', filename='assets/logo.png') }}" /> -->
                <i class="fa-solid fa-shield-halved"></i>
                <p>SITSecure</p>
            </div>
        </a>
    </div>
    <nav>
        {% if session.role == 'user' %}
        <a href="/"><i class="fa-solid fa-square-poll-vertical"></i><span>Reports</span></a>
        <a href="/profile"><i class="fa-solid fa-user"></i><span>Profile</span></a>
        <a href="/settings"><i class="fa-solid fa-gear"></i><span>Settings</span></a>

        {% endif %}
        {# Show admin tabs only if user is logged in and has role 'admin' #}
        {% if session.role == 'admin' %}
            <a href="/admin"><i class="fa-solid fa-user-tie"></i><span>Admin</span></a>
            <a href="/settings"><i class="fa-solid fa-gear"></i><span>Settings</span></a>
        {% endif %}

        {% if session.role == 'superadmin' %}
            <a href="/role"><i class="fa-solid fa-screwdriver-wrench"></i><span>Manage Roles</span></a>
        {% endif %}

        {# If user is not logged in, show login/register #}
        {% if not session.username %}
            <a href="/login"><i class="fa-solid fa-right-to-bracket"></i><span>Login</span></a>
            <a href="/register"><i class="fa-solid fa-user-plus"></i><span>Register</span></a>
        {% endif %}
    </nav>
</div>