<div class="top-bar">
    <div class="user-info">
        <!-- Dynamic profile link based on user role -->
        {% if session.username %}
            {% if session.role == 'admin' %}
                <a href="/admin" class="user-profile-link">
            {% elif session.role == 'superadmin' %}
                <a href="/role" class="user-profile-link">
            {% else %}
                <a href="/profile" class="user-profile-link">
            {% endif %}
                <p><i class="fi fi-rc-circle-user"></i>{{ session.username }}</p>
            </a>
            <a href="{{ url_for('accounts.logout') }}" class="logout-btn">
                <i class="fi fi-rc-sign-out-alt"></i> Logout
            </a>
        {% else %}
            <p><i class="fi fi-rc-circle-user"></i>Guest</p>
        {% endif %}
    </div>
</div>


<style>
.top-bar {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-profile-link {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

.user-profile-link:hover {
    color: #467B65;
}

.user-info p {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.logout-btn {
    font-weight: 500;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 1px;
    transition: background-color 0.3s;
}

.logout-btn:hover {
    color: #c82333;
}
</style>