<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SITSecure</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="main">
        {% include 'common/sidebar.html' %}

        <div class="main-content">
            <div class="main-content__header">
                <h1>Reports</h1>
                <a href="{{ url_for('report') }}" class="btn btn--submit-report" role="button"
                    aria-label="Submit Report">
                    <svg xmlns="http://www.w3.org/2000/svg" class="btn__icon" viewBox="0 0 16 16" fill="currentColor"
                        aria-hidden="true">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                        <path
                            d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-.354.436.896.896 0 0 1-.49.11.905.905 0 0 1-.49-.11.552.552 0 0 1-.354-.436z" />
                    </svg>
                    <span>Submit Report</span>
                </a>
            </div>
            <div class="table-container">
                <table id="dataTable">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Date</th>
                            <th>Category</th>
                            <th>Status</th>
                            <th>Owner</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

                <div class="pagination" id="pagination"></div>
            </div>
        </div>
    </div>

    <script>
        function toggleSidebar() {
            document.getElementById('sidebar').classList.toggle('collapsed');
        }
    </script>
    <script>
        const home_reports = {{ reports | tojson }};
    </script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</html>"<!-- CI/CD is working! -->" 
