<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content="{{ csrf_token | e}}">
    <title>SITSecure | Role Management</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/roles.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='assets/logo.svg') }}" type="image/svg+xml">
</head>

<body>
    <div class="main">
        {% include 'common/sidebar.html' %}

        <div class="main-content">
            {% include 'common/topbar.html' %}
            <div class="reports-section">
                <div class="reports-section-header">
                    <h1>Role Management</h1>
                </div>

                <!-- Table Content -->
                <div class="reports-table-container">
                    <br>
                    <div class="filter-bar">
                        <input type="text" id="searchInput" placeholder="Search by username or email" class="search-input" />
                        
                        <select id="roleFilter" class="role-dropdown">
                            <option value="">All Roles</option>
                            <option value="user">User</option>
                            <option value="admin">Admin</option>
                        </select>
                    </div>
                    <hr class="hr-role-management">
                    <table id="reportTable">
                        <thead>
                            <tr>
                                <th scope="col">User ID</th>
                                <th scope="col">Username</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                                <th scope="col">Update Role</th>
                            </tr>
                        </thead>
                        <tbody id="rolesTableBody">
                            {% for user in users %}
                            {% if user.role != 'superadmin' %}
                            <tr>
                                <td>{{ user.user_id | e}}</td>
                                <td>{{ user.username | e}}</td>
                                <td>{{ user.email | e}}</td>
                                <td>{{ user.role | capitalize | e}}</td>
                                <td>
                                    <div class="select" data-user-id="{{ user.user_id | e}}">
                                        <div class="selected" data-default="{{ user.role | capitalize | e}}">
                                            {{ user.role | capitalize | e}}
                                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"
                                                class="arrow">
                                                <path
                                                    d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z">
                                                </path>
                                            </svg>
                                        </div>
                                        <div class="options">
                                            {% for role_option in roles %}
                                            {% if role_option != user.role %}
                                            <div title="option-{{ loop.index }}">
                                                <input id="option-{{ loop.index }}-{{ user.user_id | e}}"
                                                    name="option-{{ user.user_id | e}}" type="radio" />
                                                <label class="option"
                                                    for="option-{{ loop.index }}-{{ user.user_id | e}}"
                                                    data-role="{{ role_option | e}}">
                                                    {{ role_option | capitalize | e}}
                                                </label>
                                            </div>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="pagination" id="role-pagination"></div>
                </div>
            </div>
            <script src="{{ url_for('static', filename='js/role_management.js') }}"></script>
</body>

</html>